<system.webServer>
  <httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="SAMEORIGIN" />   
      <add name="Access-Control-Allow-Origin" value="https://tableau.finance.dwt.com" />  
      <add name="Access-Control-Allow-Origin" value="https://ajthielman.github.io" />        
    </customHeaders>
  </httpProtocol>
</system.webServer>
